# Local Development (SQLite)
DATABASE_URL="file:./db/custom.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
CONTACT_EMAIL=your-email@gmail.com
WHATSAPP_NUMBER=your-number